<!DOCTYPE html>
<html>
<head>
  <title>Ink 3 Rails Demo</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="ink-drawer">
  <%= render 'layouts/navigation' %>
  <div id="content" class="content-drawer">
    <section class="ink">
      <div class="ink-grid">
        <header>
          <h1>
            Ink 3 Rails Example
          </h1>
        </header>
      <%= yield %>
    </section>
    <footer></footer>
    <section class="copyright">
      <div class="ink-grid">
        <div class="copyright push-right">
          Try the <%= link_to("ink3-rails", "https://github.com/mutablestate/ink3-rails") %> gem
        </div>
      </div>
    </section>
  </div>
</body>
</html>
