<!DOCTYPE html>
<html>
<head>
  <title>Ink 3 Rails Demo</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="ink-drawer">
  <%= render 'layouts/navigation' %>
  <div id="content" class="content-drawer">
    <section class="ink">
      <div class="ink-grid">
        <header>
          <h1>
            Ink 3 Rails Example
          </h1>
        </header>
      <%= yield %>
    </section>
    <footer></footer>
    <section class="copyright">
      <div class="ink-grid">
        <div class="copyright push-right">
          Try the <%= link_to("ink3-rails", "https://github.com/mutablestate/ink3-rails") %> gem
        </div>
      </div>
    </section>
  </div>
  <a href="https://github.com/mutablestate/ink3-rails-demo">
    <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 100;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
  </a>
</body>
</html>
